@value mediaQuery from '../../common/size.css';
@value makerMainColor, makerMainColorD from '../../common/colors.css';

.preview{padding:50px 30px 30px; width: 50%; height: 100%; background-color:#f0e3d1;}
.title{margin-bottom: 20px; font-size: 1.6rem; text-align: center;color: makerMainColorD; font-family: 'Questrial', serif;}
.cards{display: flex; flex-direction: column; align-items: center; padding: 0;}

@media screen and (max-width: mediaQuery) {
    .preview{width: 100%;}
}