@value makerMainColorD, makerWhite from '../../common/colors.css';

.footer{ padding: 20px 0; width: 100%; text-align: center; background-color: makerMainColorD;}
.title{font-size: .9rem;color: makerWhite;}