@value makerGreen, makerWhite,makerLightPink from '../../common/colors.css';
section{padding: 25px 0 40px;}
.login{width: 450px; display: flex; flex-direction: column; justify-content: center; text-align: center; background-color: makerWhite;box-shadow: 3px 4px 14px 1px rgba(0,0,0,0.5);}
.title{font-size: 1.3rem; color: #131313;}
.lists{margin: 0; padding: 0 30px; width: 100%; display: flex; flex-direction: column;box-sizing: border-box;}
.list{margin-bottom: 5px;}
.button{ padding: 20px 0; width: 100%; font-size: 1.2rem; text-align: center;border-radius: 50px;background-color: makerWhite; border: 2px solid makerGreen;transition: background-color .3s ease-in-out;}
.button:hover{ background-color: makerLightPink;}